@{
}
@model Books

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-light p-1">
        <h4>@Model.Title</h4>
        <span class="badge bg-gradient" style="float:right">
            Pages: @Model.PageCount

        </span>
    </div>


    <ul>
        <li>Book Category: @Model.Category</li>
        <li>Book Author: @Model.Author</li>
        <li>Book Publisher: @Model.Publisher</li>
        <li>Book Price: @Model.Price</li>
    </ul>

    <form method="post" asp-page="/Purchase">

        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnURL" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Donate</button>
        </span>
    </form>

</div>

